@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
body{
	background-color: #fffffff2;
	background-image: url("ombre.jpg");
	background-size:cover;
	background-attachment: fixed;
	text-align: center;
	font-family: 'Lato', sans-serif;
}
h1{
	color: #538cafde;
	font-size: 50px;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	text-align: center;
}
h2{
	color: #538cafde;
	font-size: 30px;
}
h3{
	color: white
	font-size:20px;
}
p{
	font-size: 20px;
	padding-bottom: 10px
}
a{
	text-decoration: none;
}
div{
	width: 75%;
	padding:24px;
	margin:24px auto;
	background-color: #fffffff2;
	border-radius: 10px;
	box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}
img{
	border-radius: 45%;
	width: 150px;

}
i{
	font-size:48px;
	color: grey;

}
i hover{
	color:;
	transition: ;
}
#list-inline li{
	display: inline;
	margin: 0 8px;
}

#list-inline {
	padding: 0;
}

.button-blue {
	background-color: #538cafde;
    font-size: 16px;
    padding: 15px 20px;
    color: #FFFF;
    border-radius:5px;

}
.button-blue:hover {
	background-color: black;
}